doctype html
html(lang="en")
	head
		title= 'Where Are We'
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" href="stylesheets/ripples.min.css")
		link(rel="stylesheet" href="stylesheets/material-wfont.min.css")
	body
		h1 Great Attempt
		script(src="//code.jquery.com/jquery-1.10.2.min.js")
		script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script(src="javascripts/js/ripples.min.js")
		script(src="javascripts/js/material.min.js")
		script.
			$(document).ready(function() {
				$.material.init();
			});